div{
    background-color: darksalmon;
    height: 200px;
    width: 300px;
    margin: 10px;



}
p{
    color:azure;


}
.c1{
    background-color: rgb(37, 190, 31);
    height: 200px;
    width: 180px;
    margin: 10px;


}
.p1{
    background-color: cornflowerblue;
    height: 200px;
    width: 180px;
    margin: 10px;



}